body {
  background-color: black;
  color: white;
  background-image: url("../images/death-star.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.text-shadow {
  text-shadow: 2px 2px 4px white;
}

.game {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 2.5px gray, 0 0 10px 2.5px gray inset;
}

.game-message {
  font-size: 2em;
  text-align: center;
  margin: 20px;
  color: rgb(255, 255, 0);
  text-shadow: 2px 2px 10px white;
  min-height: 200px;
}

.game-characters {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.character {
  display: flex;
  align-self: center;
  position: relative;
}

.character-shadow {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 25%;
  box-shadow: 0 0 20px 20px;
  background-color: gray;
  color: gray;
}

.character-img {
  z-index: 1;
  align-self: center;
  background-color: transparent;
}

.character-health {
  z-index: 2;
  position: absolute;
  text-align: center;
  color: white;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-shadow: 0px 0px 5px #000;
}

.hover > .character-shadow {
  background-color: rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

.roll-player > .character-shadow {
  background-color: green;
  color: green;
}

.roll-player.hover > .character-shadow {
  background-color: lawngreen;
  color: lawngreen;
}

.roll-enemy > .character-shadow {
  background-color: darkred;
  color: darkred;
}

.roll-enemy.hover > .character-shadow {
  background-color: red;
  color: red;
}

.game-player:empty,
.game-opponent:empty {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px;
  margin-bottom: 20px;
}

.game-player:empty {
  color: green;
  background-color: green;
}

.game-opponent:empty {
  color: darkred;
  background-color: darkred;
}
