body {
  background-color: black;
  color: white;
  background-image: url("../images/death-star.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.text-shadow {
  text-shadow: 2px 2px 4px white;
}

.game {
  border-radius: 20px;
  box-shadow: 0 0 10px 2.5px gray, 0 0 10px 2.5px gray inset;
}

.game-message {
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.game-characters {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.character {
  display: flex;
  align-self: center;
  /* border: 1px solid blue; */
  position: relative;
  margin-bottom: 50px;
}

.character-shadow {
  /* z-index: -1; */
  width: 50%;
  height: 80%;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 25%;
  box-shadow: 0 0 20px 20px;
  background-color: gray;
  color: gray;
}

.character-img {
  z-index: 1;
  align-self: center;
  /* border: 1px solid white; */
  background-color: transparent;
}

.character-health {
  z-index: 2;
  position: absolute;
  text-align: center;
  font-size: 2em;
  color: white;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-shadow: 0px 0px 5px #000;
}

.hover > .character-shadow {
  background-color: rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

.player > .character-shadow {
  background-color: lawngreen;
  color: lawngreen;
}

.enemy > .character-shadow {
  background-color: red;
  color: red;
}

.game-player {
  border: 1px solid green;
  height: 200px;
  margin-bottom: 15px;
}

.game-opponent {
  border: 1px solid red;
  height: 200px;
  margin-bottom: 15px;
}
