body {
  background-image: url("../images/death-star.jpg");
  color: white;
}

.game {
  position: relative;
}

.game-message {
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.character {
  float: left;
  position: relative;
  margin-bottom: 50px;
}

.character-shadow {
  z-index: -1;
  width: 50%;
  height: 80%;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 25%;
  box-shadow: 0 0 20px 20px;
  background-color: gray;
  color: gray;
}

.character-img {
  background-color: transparent;
}

.character-health {
  position: absolute;
  text-align: center;
  font-size: 2em;
  color: white;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-shadow: 0px 0px 5px #000;
}

.hover > .character-shadow {
  background-color: white;
  color: white;
}

.player > .character-shadow {
  background-color: lawngreen;
  color: lawngreen;
}

.enemy > .character-shadow {
  background-color: red;
  color: red;
}
